<a href="https://colab.research.google.com/github/lviniciuz/Aulas-faculdade/blob/main/04_05_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
lista = ['Zé', 'Tião', 'Joaquim']
lista.append('Júlia')

#vários valores
outrosNomes = ['Zabé', 'Ana', 'Maria']
lista.extend(outrosNomes)
lista

In [ ]:
numeros = [3, 5, 7, 1, 9, 4]
numeros.remove(numeros[0])

numeros.pop()

numeros

In [ ]:
numeros = [2, 4, 6, 9]
nova_lista = list(map(lambda x : x*2, numeros))
nova_lista

In [ ]:
numDivi = list(map(lambda x : x/3, numeros))
numDivi

In [ ]:
numSoma = list(map(lambda x : x+1, numeros))
numSoma

In [ ]:
#retorne uma lista com os nomes com mais de 5 caracteres
nomes = ['José', 'João', 'Sebastião', 'Angélica', 'Pedro']
new_list = list(filter(lambda x : len(x)>5, nomes))
new_list

In [ ]:
#retorne uma lista com os numeros maiores de 6
listnot = [3.5, 7, 9, 10, 4, 1.8]
listnn = list(filter(lambda x : (x)>6, listnot))
listnn

[7, 9, 10]

In [ ]:
#retorar a lista com os valores ao quadrado
lnumeros = [3, 5, 7, 23, 4, 12]
lnnumeros = list(map(lambda x : x**2, lnumeros))
lnnumeros

In [ ]:
#saber quantas letras tem cada nome:
lista = ['Ana', 'Jorge', 'Matheus', 'Julia', 'Isabela', 'Pietro']
llinst = list(map(lambda x : len(x), lista))
llinst

In [ ]:
#somente retornar numeros pares
numeros = [23, 45, 76, 22, 12, 47, 89, 234, 54]
nnumeros = list(map(lambda x : x%2==0, numeros))
nnumeros

In [ ]:
#filtrar nome que começa com 'A'
nomes = ['João', 'Pedro', 'Regina', 'Thiago', 'Amelia', 'Antonio', 'Arnold']
nnomes = list(filter(lambda x : (x[0]=='A'), nomes))
nnomes

In [ ]:
nomes = ['Ana', 'Pedro', 'Osvaldo', 'Esmeralda', 'Tião', 'Renato']
nnomes = list(filter(lambda x : x[0]in'AEIOU', nomes))
nnomes

['Ana', 'Osvaldo', 'Esmeralda']